{% extends 'base.html' %}
{% block content %}

<div class="col-md-12 leaderboard">
     <div class="buttons">
        <a href="{{url_for('submit')}}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Submission
        </a>
        <a href="{{url_for('get_sample_submission')}}" class="btn btn-default">
            <span class="glyphicon glyphicon-download-alt"></span> Sample submission
        </a>
         {% if data_download %}
            <a href="{{url_for('get_data')}}" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span> Data
            </a>
         {% endif %}

         <div class="pull-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#description"><span class="glyphicon glyphicon-info-sign"></span> Info </button>
         </div>
    </div>
    <hr>
    <div class="panel panel-default">
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
                {% if not lb.final_score.empty %} <th> Final score </th> {% endif %}
                <th> LB Score </th>
                <th> Description </th>
                <th> Submitted </th>
            </tr>
            </thead>
            <tbody>
            {% for key, s in lb.iterrows() %}
                <tr onclick="location.href='{{url_for('submission_info', id_=key)}}';">
                    <td> {{ loop.index }} </td>
                    <td> {{ s.team }} </td>
                    {% if not lb.final_score.empty %} <td> {{ s.final_score | round(digits) }} </td> {% endif %}
                    <td> {{ s.lb_score | round(digits) }} </td>
                    <td> {{ s.description | truncate(60) }} </td>
                    <td> {{ s.submitted.strftime('%Y-%m-%d') }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="description" class="description" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h3> Competition description </h3>
                    {% for line in description %}
                        <p>{{ line }} </p>
                    {% endfor %}
                    <h3> Timeline </h3>
                    <p> The competition will fun from {{ start_date }} to {{ end_date }}.</p>
                    <h3> Sample size </h3>
                    <p>
                        {{ '{0:,}'.format(lb_n | int) }} observations are used in calculating the lb_score.
                    </p>
                    <p>
                        {% if final_n > 0 %} {{ '{0:,}'.format(final_n | int) }} are used in calculating final_score .{% endif %}
                    </p>
                    <h3> Evaluation metric </h3>
                    <p> {{ eval_metric_name }} </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

